In [1]:
import pandas as pd

In [2]:
from sklearn.ensemble import RandomForestRegressor

In [3]:
from sklearn.metrics import mean_absolute_error

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
home_data = pd.read_csv('train.csv')

In [6]:
y = home_data.SalePrice

In [7]:
features = ['LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd']

In [8]:
x =home_data[features]
x.describe()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
count,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,10516.828082,1971.267808,1162.626712,346.992466,1.565068,2.866438,6.517808
std,9981.264932,30.202904,386.587738,436.528436,0.550916,0.815778,1.625393
min,1300.000000,1872.000000,334.000000,0.000000,0.000000,0.000000,2.000000
25%,7553.500000,1954.000000,882.000000,0.000000,1.000000,2.000000,5.000000
50%,9478.500000,1973.000000,1087.000000,0.000000,2.000000,3.000000,6.000000
75%,11601.500000,2000.000000,1391.250000,728.000000,2.000000,3.000000,7.000000
max,215245.000000,2010.000000,4692.000000,2065.000000,3.000000,8.000000,14.000000

In [9]:
x.head()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
0,8450,2003,856,854,2,3,8
1,9600,1976,1262,0,2,3,6
2,11250,2001,920,866,2,3,6
3,9550,1915,961,756,1,3,7
4,14260,2000,1145,1053,2,4,9

In [10]:
train_x, val_x, train_y, val_y = train_test_split(x, y, random_state=1)

In [11]:
rf_model = RandomForestRegressor(random_state=1)

In [12]:
rf_model.fit(train_x,train_y)

RandomForestRegressor(random_state=1)

In [13]:
rf_val_predictions = rf_model.predict(val_x)

In [14]:
rf_val_mae = mean_absolute_error(rf_val_predictions,val_y)

In [15]:
print("Validation MAE for Random Forest Model: {:,.0f}".format(rf_val_mae))

Validation MAE for Random Forest Model: 21,857

In [16]:
rf_model_on_full_data = RandomForestRegressor()

In [17]:
rf_model_on_full_data.fit(x,y)

RandomForestRegressor()

In [18]:
test_data = pd.read_csv('test.csv')

In [19]:
test_x = test_data[features]

In [20]:
test_x.describe()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
count,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000
mean,9819.161069,1971.357779,1156.534613,325.967786,1.570939,2.854010,6.385195
std,4955.517327,30.390071,398.165820,420.610226,0.555190,0.829788,1.508895
min,1470.000000,1879.000000,407.000000,0.000000,0.000000,0.000000,3.000000
25%,7391.000000,1953.000000,873.500000,0.000000,1.000000,2.000000,5.000000
50%,9399.000000,1973.000000,1079.000000,0.000000,2.000000,3.000000,6.000000
75%,11517.500000,2001.000000,1382.500000,676.000000,2.000000,3.000000,7.000000
max,56600.000000,2010.000000,5095.000000,1862.000000,4.000000,6.000000,15.000000

In [21]:
test_pred = rf_model_on_full_data.predict(test_x)

In [22]:
test_y = pd.read_csv('submission.csv')

In [23]:
print(test_y)

        Id  SalePrice
0     1461  120628.00
1     1462  155133.50
2     1463  184765.00
3     1464  178643.00
4     1465  187970.79
...    ...        ...
1454  2915   83940.50
1455  2916   86259.00
1456  2917  160216.92
1457  2918  121520.00
1458  2919  227887.30

[1459 rows x 2 columns]

In [24]:
print(test_pred)

[119533.   155562.5  183021.   ... 152539.52 127604.   228838.8 ]

In [25]:
len(test_pred)

1459

In [26]:
mae = mean_absolute_error(test_pred,test_y.SalePrice)

In [27]:
print(mae)

3257.7723917229673